.portcon {
    justify-content: center;
}

.albcon {
    width: 350px;
    height: 350px;
    margin: 20px auto;
    padding: 0;
    overflow-y: hidden;
    justify-content: center;
    transition: 300ms;
}

.album {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 300ms;
}

.albumInfo {
    position: relative;
    z-index: 999;
    bottom: 350px;
    width: 100%;
    height: 100%;
    padding: 40% 15px;
    color: white;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 100%);
    transition: 600ms;
    opacity: 0;
}

.alsh {
    content: '';
    z-index: 998;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.albcon:hover .albumInfo {
    opacity: 1;

}

.albcon:hover .album {
    width: 100%;
}

.albcon:hover {
    transform: scale(1.15);
    opacity: 1;
}
