:root{
  --red: #ff0905;
  --blue: #0434ff;
  --lightblue: #10ffff;
  --lavender: #FFaFFF;
  --lavender2: lavender;
  --amethyst: #ff76ff;
  --purple: #ff05ff ;
  --violet: #c615ff;
}

canvas {

  z-index: -1 !important;
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  background: linear-gradient(120deg, var(--violet) 30%, var(--blue));
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

